.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.button-accent {
    position: relative;
    cursor: pointer;
    padding: 1.8rem 3rem;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.4rem;
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
}

.button-accent:hover {
    color: var(--color-background)
}

.button-accent:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-accent);
    transition: all .3s;
    z-index: -1;
}

.button-accent:hover:before {
    width: 100%;
}

.scroll-down, .scroll-down-left {
    line-height: 1.5;
    font-family: "Open Sans",sans-serif;
    cursor: default;
    box-sizing: border-box;
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    font-size: 1.4rem;
    color: #fff;
    writing-mode: vertical-rl;
    animation: MoveUpDown 2s linear infinite;
}

.scroll-down svg, .scroll-down-left svg{
    width: 1rem;
}

.scroll-down-left {
    left: 1rem;
    right: unset
}

.aldrich-font {
    font-family: 'Sunflower', sans-serif;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 2rem;
    }
    50% {
      bottom: 4rem;
    }
  }