menu {
  position: relative;  
  width: 12.5rem;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--color-background-darker);
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100%
}

.nav-links {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-links li{
  width: 100%;
  position: relative;
}

.nav-links li:first-of-type a.nav-button{
  border-top: 1px solid var(--border);  
}

.nav-links li a.nav-button {
  display: block;
  padding: 1.5rem;
  transition: all 0.5s;
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--border);
  font-size: 1.6rem;
}

.nav-links li a.nav-button:hover {
  color: var(--color-accent);
} 

.logo {
  position: relative;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: var(--color-dark); 
}

.logo-title, .logo-title-shadow {
  font-size: 10rem;
  font-weight: bold;
  font-family: 'Aldrich';
}

.logo-title {
  z-index: 1;
  padding-top: 1.5rem;
  line-height: 0.9;
  color: var(--color-accent);
}

.logo-title-shadow {
  position: absolute;
  top: 0;
  right: 15px;
  color: var(--color-accent-shadow);
}

.logo-subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.logo-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-default);
}

