.landing {
    position: relative;
    height: 100vh;
    width: calc(100vw - 12.5rem);
    background-color: var(--color-background)
}

.landing-intro > * {
    margin-bottom: 2rem;
}

.landing-intro {
    position: absolute;
    top: 50%;
    left: 8rem;
    transform: translateY(-80%); 
    color: var(--color-default);
    font-size: 4rem;
}

.landing-intro h2 {
    font-family: 'Aldrich';
    font-size: 2.5rem;
    color: var(--color-text);
}

#particles-js {
    width: calc(100vw - 12.5rem);
    height: 100vh;
}